.toast-container {
  z-index: 1;
  width: 200px;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  .toast-item {
    padding: 10px 0;
    background-color: red;
    margin-top: 10px;
    border-radius: 5px;
    transition: height 0.2s;
    .item {
      //   margin: 25px;
    }
    .item-remove {
      cursor: pointer;
    }
  }
}
