.accordion-wrapper {
  .accordion {
    width: 100%;
    background-color: #d0ded5;
    cursor: pointer;
    padding: 10px;
  }
  .panel {
    background-color: red;
    transition: height 0.5s;
    overflow: hidden;
    min-height: 0px;
    max-height: 400px;
  }
}
